<div class="wrapper-blackjack">
  <img id="table" [src]=tableUrl />
  <div class="circleTimerView">
    <svg viewBox="0 0 72 72">
      <defs>
        <linearGradient id="TimerGradient">
          <stop offset="0%" stop-color="#ff0100"></stop>
          <stop offset="100%" stop-color="#fcd648"></stop>
        </linearGradient>
      </defs>
      <circle class="quad-ratio-anim" fill="none" stroke="url(#TimerGradient)" stroke-width="3.99988" cx="36" cy="36" r="31"/>
      <circle [ngClass]=" counter < 5 ? 'tiktok-anim' : 'normal-state'" cx="36" cy="36" r="27" [attr.fill]="!isHide ? '#1A2D3B' : 'transparent'"></circle>
    </svg>
    <div id="counter">{{counter}}</div>
  </div>
  <div class="labelContainerView">
    <img class="imageView" [src]=logoUrl />
    <div class="labelView">Round 5/7</div>
    <div class="playerHandsContainerView">
      <div class="cardHandView" *ngFor="let player of players">
        <div class="cardFanView"></div>
        <div class="betButtonView">
          <div class="plView"></div>
          <div class="labelView">
            {{player.name}}<br>- {{player.status}} -
          </div>
          <div class="betButton">
            <img class="imageView" [src]=betButtonUrl />
            <div class="labelView">1.52</div>
          </div>
        </div>
        <div class="markerView">
          <div class="labelView">5</div>
        </div>
      </div>
    </div>
    <div class="dealerHandContainerView">
      <div class="chipBtn" *ngFor="let chipButton of chipButtons">
        <img class="imageView" [src]=getChipButtonImg(chipButton.index)/>
        <div class="labelView">{{chipButton.value}}</div>
      </div>
      <div class="cardFanView">
        <div class="cardView" *ngFor="let dealerCard of dealer.properties; let i = index">
          <img class="imageView" [src]=cardsUrl[i] />
        </div>
      </div>
      <div class="markerView">
        <div class="labelView">9</div>
      </div>
      <div class="labelView">Dealer</div>
    </div>
    <div class="exoticSelectionsContainerView">
      <div class="exoticBetView" *ngFor="let condition of conditions">
        <div class="betButtonView">
          <div class="plView"></div>
          <div class="betButton">
            <img class="imageView" [src]=betButtonUrl />
            <div class="labelView">3</div>
          </div>
        </div>
        <div class="labelView">{{condition}}</div>
      </div>
    </div>
  </div>
</div>
