.wrapper-blackjack {
  #table {
    position: absolute;
    left: 0;
    top: 0;
  }
  .circleTimerView {
    position: absolute;
    left: 536px;
    top: 10px;
    width: 72px;
    height: 72px;
    display: table;
    svg {
      position: absolute;
    }
    #counter {
      position: relative;
      left: 0;
      top: 0;
      font-size: 20px;
      color: rgb(255, 255, 255);
      width: 72px;
      height: 72px;
      display: table-cell;
      font-family: Arial;
      text-align: center;
      vertical-align: middle;
    }
  }
  .tiktok-anim {
    animation: tiktok 0.5s alternate infinite;
  }
  @keyframes tiktok {
    0% {
      transform-origin: 36px 36px;
      transform: scale(1, 1);
    }
    100% {
      transform-origin: 36px 36px;
      transform: scale(1.25, 1.25);
    }
  }
  .normal-state {
    transform-origin: 36px 36px;
    transform: scale(1, 1);
    transition: transform 300ms;
  }
  .quad-ratio-anim {
    animation: 14s clockSpin infinite;
  }
  @keyframes clockSpin {
    from {
      stroke-dashoffset: 800;
      opacity: 0;
    }
    to {
      stroke-dashoffset: 0;
      opacity: 1;
    }
  }

  .labelContainerView {
    & > .imageView {
      position: absolute;
      left: 15px;
      top: 15px;
      width: 168px;
      height: 38px;
    }
    & > .labelView {
      position: absolute;
      left: 400px;
      top: 20px;
      width: 70px;
      height: 34px;
      font-size: 20px;
      color: white;
      text-align: center;
      font-weight: bold;
    }
    .playerHandsContainerView {
      position: absolute;
      left: 78px;
      top: 350px;
      width: 980px;
      height: 240px;
      display: block;

      .cardHandView:nth-child(1) {
        left: 20px;
        top: 30px;
      }

      .cardHandView:nth-child(2) {
        left: 263px;
        top: 40px;
      }

      .cardHandView:nth-child(3) {
        left: 507px;
        top: 40px;
      }

      .cardHandView:nth-child(4) {
        left: 750px;
        top: 30px;
      }

      .cardHandView {
        position: absolute;
        width: 210px;
        height: 200px;

        .cardFanView {
          position: absolute;
          left: 0px;
          top: 0px;
          width: 210px;
          height: 200px;
        }

        .betButtonView {
          position: absolute;
          left: 0px;
          top: 79px;
          width: 210px;
          height: 121px;

          .plView {
            position: absolute;
            left: 10px;
            top: 82px;
            width: 190px;
            height: 34px;
            display: none;
          }

          .labelView {
            position: absolute;
            left: 10px;
            top: 82px;
            width: 190px;
            height: 34px;
            font-size: 18px;
            color: white;
            font-family: Arial;
            text-align: center;
          }

          .betButton {
            img.imageView {
              position: absolute;
              left: 0px;
              top: 0px;
              width: 210px;
              height: 83px;
            }

            .labelView {
              position: absolute;
              left: 0px;
              top: 0px;
              width: 210px;
              height: 83px;
              font-size: 30px;
              text-align: center;
              line-height: 83px;
              color: white;
              font-weight: bold;
            }
          }
        }

        .markerView {
          position: absolute;
          left: 185px;
          top: 0px;
          width: 40px;
          height: 40px;
          display: block;

          .labelView {
            position: absolute;
            left: 0px;
            top: 0px;
            width: 40px;
            height: 40px;
            font-size: 20px;
            color: rgb(255, 255, 255);
            line-height: 40px;
            text-align: center;
          }
        }
      }
    }
    .dealerHandContainerView {
      position: absolute;
      left: 78px;
      top: 218px;
      width: 980px;
      height: 135px;
      .cardFanView {
        position: absolute;
        left: 345px;
        top: 30px;
        width: 300px;
        height: 150px;
        .cardView:nth-child(1) {
          transform: perspective(430px) translateZ(0px) rotateZ(-1.5deg) rotateY(0deg);
          left: 78.9016px;
          top: 5.96533px;
        }
        .cardView:nth-child(2) {
          transform: perspective(430px) rotateZ(1.5deg);
          left: 149.16px;
          top: 5.96872px;
        }
        .cardView {
          position: absolute;
          width: 72px;
          height: 98px;
          transform-origin: 50% 100%;
          .imageView {
            position: absolute;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
          }
        }
      }
      .markerView {
        position: absolute;
        left: 558px;
        top: 28px;
        width: 40px;
        height: 40px;
        display: block;
        .labelView {
          position: absolute;
          left: 0px;
          top: 0px;
          width: 40px;
          height: 40px;
          font-size: 20px;
          color: rgb(255, 255, 255);
          line-height: 40px;
          text-align: center;
        }
      }
      .chipBtn {
        &:nth-of-type(1) {
          left: 45px;
        }
        &:nth-of-type(2) {
          left: 185px;
        }
        &:nth-of-type(3) {
          left: 690px;
        }
        &:nth-of-type(4) {
          left: 830px;
        }
        position: absolute;
        top: 25px;
        width: 120px;
        height: 120px;
        opacity: 1;
        .imageView {
          position: absolute;
          left: 0px;
          top: 0px;
          width: 120px;
          height: 120px;
        }
        .labelView {
          position: absolute;
          left: 0px;
          top: 0px;
          width: 120px;
          height: 120px;
          font-size: 24px;
          text-align: center;
          line-height: 120px;
          font-weight: bold;
          color: white;
        }
      }
      & > .labelView {
        position: absolute;
        left: 394px;
        top: 5px;
        width: 200px;
        height: 50px;
        font-size: 24px;
        color: white;
        text-align: center;
        font-weight: bold;
        text-transform: uppercase;
      }
    }

    .exoticSelectionsContainerView {
      position: absolute;
      left: 78px;
      top: 75px;
      width: 980px;
      height: 180px;
      .exoticBetView:nth-child(1) {
        left: 20px;
        top: 10px;
      }
      .exoticBetView:nth-child(2) {
        left: 263px;
        top: 0px;
      }
      .exoticBetView:nth-child(3) {
        left: 507px;
        top: 0px;
      }
      .exoticBetView:nth-child(4) {
        left: 750px;
        top: 10px;
      }
      .exoticBetView {
        position: absolute;
        width: 210px;
        height: 150px;
        .betButtonView {
          position: absolute;
          left: 0px;
          top: 29px;
          width: 210px;
          height: 121px;
          .plView {
            position: absolute;
            left: 10px;
            top: 82px;
            width: 190px;
            height: 34px;
            display: none;
          }
          .betButton {
            position: absolute;
            left: 0px;
            top: 0px;
            width: 210px;
            height: 83px;
            .imageView {
              position: absolute;
              left: 0px;
              top: 0px;
              width: 210px;
              height: 83px;
            }
            .labelView {
              position: absolute;
              left: 0px;
              top: 0px;
              width: 210px;
              height: 83px;
              font-size: 30px;
              text-align: center;
              line-height: 83px;
              color: white;
              font-weight: bold;
            }
          }
        }
        & > .labelView {
          position: absolute;
          left: 0px;
          top: 0px;
          width: 210px;
          height: 29px;
          font-size: 18px;
          color: #cfcfcf;
          text-align: center;
          margin-top: 3%;
          vertical-align: baseline;
        }
      }
    }
  }
}
